//<p>login works!</p>
<div class="container">

    <div class="main">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h1>Login SBN Bank</h1>
            </div>
            <div class="col"></div>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">UserName</label>
            <input type="text" (change)="onUsernameChange($event)"class="form-control" id="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password"(change)="onPasswordChange($event)" class="form-control" id="password">
        </div>

        <button type="button"(click)="login()"  class="btn btn-primary">Login</button>

    </div>
</div>
